{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row header-container">
        <div class="col">
            <h1 class="header-padding">My bag <img class="heart" src="{{ MEDIA_URL }}heart.png" alt="heart image"></h1>
        </div>
    </div>
    <!-- Info on how much left for free delivery -->
    {% if free_delivery_delta > 0 %}
    <div class="row">
        <div class="col text-center">
            <p class="p-3 delivery-delta rounded">You are only £{{ free_delivery_delta }} away from free delivery!</p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <!-- Show bag items small screen -->
            {% if bag_items %}
            <div class="d-block d-md-none">
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-12 col-sm-6 mb-2">
                        {% if item.product.main_image %}
                        <img class="img-fluid rounded" src="{{ item.product.main_image.url }}"
                            alt="{{ item.product.name}}">
                        {% else %}
                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}no_image.png" alt="{{ item.product.name}}">
                        {% endif %}
                    </div>

                    <div class="col-12 col-sm-6">
                        <strong>{{ item.product.name }}</strong>
                        <p class="mt-1">{% if item.product.has_sizes %}Size: {{item.size|upper}}{% endif %}</p>
                        <p>£{{ item.product.price }}</p>
                        {% include 'bag/quantity-form.html' %}
                    </div>
                    <div class="col-12 col-sm-6 pt-2 order-sm-last">
                        <strong>Total: </strong>£{{ item.product.price | calc_subtotal:item.quantity }}
                    </div>
                    <div class="col-12">
                        <hr>
                        {% include 'bag/totals.html' %}
                    </div>
                    <div class="col-12 pt-4">
                        <hr>
                        <p><strong>Delivery information:</strong></p>
                        <p>Free delivery for orders over £40. Otherwise £3.99</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- show bag items larger screen  -->
            <div class="table-responsive d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="border-bottom">
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th>Quantity</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td>
                            {% if item.product.main_image %}
                            <img class="small-image rounded" src="{{ item.product.main_image.url }}"
                                alt="{{ item.product.name}}">
                            {% else %}
                            <img class="small-image rounded" src="{{ MEDIA_URL }}no_image.png"
                                alt="{{ item.product.name}}">
                            {% endif %}
                        </td>
                        <td>
                            <strong>{{ item.product.name }}</strong>
                            <p class="mt-1">{% if item.product.has_sizes %}Size: {{item.size|upper}}{% endif %}</p>
                            <p>£{{ item.product.price }}</p>
                        </td>
                        <td>
                            {% include 'bag/quantity-form.html' %}
                        </td>
                        <td class="text-right">
                            £{{ item.product.price | calc_subtotal:item.quantity }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="border-top">
                        <td colspan="2" class="text-center pt-4">
                            <p><strong>Delivery information:</strong></p>
                            <p>Free delivery for orders over £40. Otherwise £3.99</p>
                        </td>
                        <td colspan="2">
                            {% include 'bag/totals.html' %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row mt-5 text-right">
                <div class="col">
                    <a href="{% url 'products' %}" class="btn shop-btn mr-4" aria-label="Keep shopping">
                        <i class="fas fa-chevron-left"></i>
                        Keep Shopping
                    </a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'checkout' %}" class="btn checkout-btn" aria-label="Checkout">
                            Checkout
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}" aria-label="Sign in"> Sign in</a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <!-- If bag is empty -->
            <h2 class="text-center"><strong>Your bag is empty</strong></h2>
            <div class="d-flex justify-content-center">
                <a href="{% url 'products' %}" class="btn shop-btn" aria-label="Keep shopping">
                    <i class="fas fa-chevron-left"></i>
                    Keep Shopping
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>

{% endblock %}