{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row header-container">
        <div class="col">
            <h1 class="bag-header">My bag <img class="heart" src="{{ MEDIA_URL }}heart.png" 
                alt="heart image"></h1>
        </div>
    </div>
    {% if free_delivery_delta > 0 %}
    <div class="row">
        <div class="col text-center">
        <p class="p-3 delivery-delta rounded">You are only £{{ free_delivery_delta }} away from free delivery!</p>
    </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <thead class="border-bottom">
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th>Quantity</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td>
                            {% if item.product.main_image %}
                            <img class="small-image rounded" src="{{ item.product.main_image.url }}" 
                            alt="{{ item.product.name}}">
                            {% else %}
                            <img class="small-image rounded" src="{{ MEDIA_URL }}no_image.png" alt="{{ item.product.name}}">
                            {% endif %}
                        </td>
                        <td>
                            <strong>{{ item.product.name }}</strong>
                            <p class="mt-1">{% if item.product.has_sizes %}Size: {{item.size|upper}}{% endif %}</p>
                            <p>£{{ item.product.price }}</p>
                        </td>
                        <td>
                            <form class="update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group row m-0">
                                    <div class="input-group rounded col p-0">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                                id="decrement-qty_{{ item.item_id }}">
                                                    <i class="fas fa-minus fa-sm"></i>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number" name="quantity" 
                                            value="{{ item.quantity }}" min="1"
                                            max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}" 
                                            id="increment-qty_{{ item.item_id }}">
                                                    <i class="fas fa-plus fa-sm"></i>
                                            </button>
                                        </div>
                                        {% if item.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </div>
                                    
                                </div>
                            </form>
                            <div class="d-flex justify-content-between mx-2">
                                <a class="update"><small>Update</small></a>
                                <a class="remove" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                            

                        </td>
                        <td class="text-right">
                            £{{ item.product.price | calc_subtotal:item.quantity }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="border-top">
                        <td colspan="2" class="text-center pt-4">
                            <p><strong>Delivery information:</strong></p>
                            <p>Free delivery for orders over £40. Otherwise £3.99</p>
                        </td>
                        <td colspan="2"><span class="d-flex justify-content-between"><strong>Subtotal:</strong>£{{ total|floatformat:2 }}</span>
                            <br>
                            <span class="d-flex justify-content-between"><strong>Delivery:</strong> £{{ delivery|floatformat:2 }}</span>
                            <br>
                            <span class="d-flex justify-content-between"><strong>Total:</strong> £{{ grand_total|floatformat:2 }}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row m-5 text-right">
                <div class="col">
                    <a href="{% url 'products' %}" class="btn shop-btn mr-4">
                        <i class="fas fa-chevron-left"></i>
                    Keep Shopping
                    </a>
                    <a href="{% url 'checkout' %}" class="btn checkout-btn">
                        Checkout
                    </a>
                </div>
            </div>
            {% else %}
            <h2 class="text-center"><strong>Your bag is empty</strong></h2>
            <div class="d-flex justify-content-center">
                <a href="{% url 'products' %}" class="btn shop-btn">
                    <i class="fas fa-chevron-left"></i>
                Keep Shopping
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}