{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row header-container">
        <div class="col">
            <h1 class="checkout-header">My profile <img class="heart" src="{{ MEDIA_URL }}heart.png" 
                alt="heart image"></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <p><strong>My details:</strong></p>
            <p>Username: {{ profile }}
            <br>Phone number: {{ profile.phone_number }}
            <br>Email address: {{ user.email }}
            </p>
        </div>
        <div class="col-12 col-md-6">
            
            
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6">
            <p><strong>Add a new address:</strong></p>
            <form action="{% url 'profile' %}" method="POST" id="add-address">
                {% csrf_token %}
                {{ form | crispy }}
                <p>
                <label class="form-check-label" for="id-save-address">Set as default address</label>
                <input class="form-check-input ml-4" type="checkbox" id="id-save-address" name="save-address">
                </p>
                <p><button class="button rounded p-2">Add address</button></p>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <p><strong>My addresses:</strong></p>
            {% for ad in addresses %}
            <div class="p-2">
                {{ ad.street_address1 }}
                {% if ad.street_address2 %}<br>{{ ad.street_address2 }}{% endif %}
                {% if ad.town_or_city %}<br>{{ ad.town_or_city }}{% endif %}
                {% if ad.county %}<br>{{ ad.county }}{% endif %}
                {% if ad.postcode %}<br>{{ ad.postcode }}{% endif %}
                <br>{{ ad.country }}
                <p>Edit | Delete</p>
                <hr>
            </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}