{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row header-container">
        <div class="col">
            <h1 class="checkout-header">My profile <img class="heart" src="{{ MEDIA_URL }}heart.png" 
                alt="heart image"></h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ orders }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p>Add a new address:</p>
            <form action="{% url 'profile' %}" method="POST" id="add-address">
                {% csrf_token %}
                {{ form | crispy }}
                <p>
                <label class="form-check-label" for="id-save-info">Set as default address</label>
                <input class="form-check-input ml-4" type="checkbox" id="id-save-address" name="save-address">
                </p>
                <p><button class="button rounded p-2">Add address</button></p>
            </form>
        </div>
        <div class="col">
            {{ addresses }}
        </div>
    </div>
    {{ profile }}
{% endblock %}