{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row header-container">
        <div class="col">
            <h1 class="header-padding">My profile <img class="heart" src="{{ MEDIA_URL }}heart.png" 
                alt="heart image"></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p><strong>My details:</strong></p>
            <p>Username: {{ profile }}
            <br>Phone number: {{ profile.phone_number }}
            <br>Email address: {{ user.email }}
            </p>
        </div>
    </div>
    <div class="row border">
        <div class="col-12">
            <p class="pt-4"><strong>Order history:</strong></p>
            <div class="order-history">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th class="border-top-0">Order number</th>
                            <th class="border-top-0">Date</th>
                            <th class="border-top-0">Items</th>
                            <th class="border-top-0">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}" 
                                    title="{{ order.order_number }}">{{ order.order_number | truncatechars:8 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} 
                                                <br>{% if item.product.has_sizes %}
                                                    Size- {{ item.product.size|upper }}
                                                {% endif %}
                                                Quantity: {{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <p class="pt-4"><strong>Add a new address:</strong></p>
            <form action="{% url 'profile' %}" method="POST" id="add-address">
                {% csrf_token %}
                {{ form | crispy }}
                <!-- <p>
                <label class="form-check-label" for="id_default_address">Set as default address</label>
                <input class="form-check-input ml-4" type="checkbox" id="id_default_address" name="default_address" value="True">
                </p> -->
                <p><button class="button rounded p-2">Add address</button></p>
            </form>
        </div>
        <div class="col-12 col-md-6 address-container">
            <hr class="d-md-none">
            <p class="pt-4"><strong>My addresses:</strong></p>
            {% for ad in addresses %}
            <div class="p-2">
                {{ ad.street_address1 }}
                {% if ad.street_address2 %}<br>{{ ad.street_address2 }}{% endif %}
                {% if ad.town_or_city %}<br>{{ ad.town_or_city }}{% endif %}
                {% if ad.county %}<br>{{ ad.county }}{% endif %}
                {% if ad.postcode %}<br>{{ ad.postcode }}{% endif %}
                <br>{{ ad.country }}
                <p><a href="{% url 'edit_address' ad.id %}">Edit</a> | 
                    <a href="{% url 'delete_address' ad.id %}">Delete</a>
                </p>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}