<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- my account dropdown  -->
        <li class="nav-item dropdown">
            <a class="nav-link d-lg-none mr-5 nav-link" href="#" aria-label="My account dropdown" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" aria-label="Add product" class="dropdown-item">Add Product</a>
                {% endif %}
                <a href="{% url 'profile' %}" aria-label="My Profile" class="dropdown-item">My Profile</a>
                <a href="{% url 'wishlist' %}" aria-label="My Wishlist" class="dropdown-item">My wishlist</a>
                <a href="{% url 'account_logout' %}" aria-label="Logout" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" aria-label="Register" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" aria-label="login" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>

        <!-- products menu  -->
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" aria-label="All products dropdown" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item" aria-label="Sort items by price">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item" aria-label="Sort items by category">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item" aria-label="View all products">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'products' %}?category=tshirts" aria-label="View T-shirts">
                T-Shirts
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'products' %}?category=mugs" aria-label="View drinkware">
                Dinkware
            </a>
        </li>
    </ul>
</div>