{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h1 class="mb-5">{% trans "Sign Out" %} <img class="heart" 
  src="{{ MEDIA_URL }}heart.png" alt="heart image"></h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}
  <button class="rounded p-2" type="submit" aria-label="Sign out">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
