{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Edit image {% endblock %}

{% block content %}
<div class="container">
    <div class="row header-container">
        <div class="col">
            <h1 class="header-padding">Edit Product images <img class="heart" src="{{ MEDIA_URL }}heart.png" 
                alt="heart image"></h1>
        </div>
    </div>
    
    <div class="row">
        {% for image in images %}
        <div class="col-12 col-lg-6">
            <form method="POST" action="{% url 'edit_product_image' image.product.id %}" class="form mb-4" enctype="multipart/form-data">
                {% csrf_token %}
                {% for image in image_form %}
                    {{ image|as_crispy_field }}
                    <img width="96" height="96" src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ image.name }}" name="div_id_image" value="{{ image.image }}">
                {% endfor %}
                <div>
                    <button class="button rounded p-2" type="submit">Update images</button>
                    <a href="{% url 'products' %}" class="btn shop-btn mr-4">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.user }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to ${file.name}`);
        });
    </script>
{% endblock %}