{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid header-container h-100 scroll">
    <div class="row bg-white px-5 h-100">
        <div class="col-12 col-md-6">
            {% if product.main_image %}
                <img class="img-fluid" src="{{ product.main_image.url }}" alt="{{ product.name }}">
            {% else %}
                <img class="img-fluid" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
            {% endif %}
        </div>
        <div class="col-12 col-md-6">
            <h2>{{ product.name }}</h2>
            <p>£{{ product.price }}</p>
            <p>{{product.description }}</p>
        </div>
    </div>
</div>

{% endblock %}